body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(43, 107, 226);
}

#container {
    background: black;
    display: grid;
    width: 1000px;
    height: 1000px;
    grid-template-rows: repeat(var(--box-size),1fr);
    grid-template-columns: repeat(var(--box-size), 1fr);
    border: 1px solid black;
    padding: 4px
}

.box {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
}

button {
    margin: 8px;
    padding: 8px;
}